.login-register-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
}

.form-section {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 6px;
  font-weight: bold;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2e7d32;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #1b5e20;
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 4px;
}

.errorInfo{
  color: red;
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: bolder;
}