<footer class="bg-dark text-white pt-4 pb-3 mt-5">
    <div class="container text-center">
      <div class="mb-3">
        <a href="privacidad" class="text-white text-decoration-none mx-2">Política de privacidad</a>
        <a href="condiciones" class="text-white text-decoration-none mx-2">Términos y condiciones</a>
        <a href="contacto" class="text-white text-decoration-none mx-2">Contacto</a>
      </div>
      
      <div class="mb-3">
        <a href="#" class="text-white mx-2"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-white mx-2"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="text-white mx-2"><i class="bi bi-instagram"></i></a>
      </div>
      
      <div>
        © 2025 Sportify. Todos los derechos reservados.
      </div>
    </div>
</footer>  