<app-header></app-header>
<div class="terminos-container">
  <h1>Términos y Condiciones</h1>
  <h2>Uso del Sitio</h2>
  <p>Al acceder a Sportify, aceptas cumplir con nuestros términos y condiciones.</p>

  <h2>Reservas</h2>
  <p>Un mismo usuario no podrá hacer dos reservas en la misma fecha a la misma hora en dos distintas pistas. Todas las reservas están sujetas a disponibilidad.</p>

  <h2>Responsabilidad</h2>
  <p>No nos hacemos responsables de retrasos o cancelaciones por causas externas a nuestro control.</p>
</div>
<app-footer></app-footer>