html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #ffffff, #dedada);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    flex: 1; 
}

body { 
    font-family: Arial, sans-serif;
}