<app-header></app-header>
<div class="politica-container">
  <h1>Política de Privacidad</h1>
  <p>En Sportify respetamos tu privacidad y nos comprometemos a proteger la información personal que compartas con nosotros.</p>

  <h2>Información que Recopilamos</h2>
  <p>Recopilamos información personal como nombre, correo electrónico y teléfono solo cuando reservas una pista o te pones en contacto con nosotros.</p>

  <h2>Cómo Usamos tu Información</h2>
  <p>Usamos tu información exclusivamente para gestionar tus reservas y ofrecerte un mejor servicio.</p>

  <h2>Compartir tu Información</h2>
  <p>No compartimos tu información personal con terceros, salvo cuando sea necesario por ley.</p>
</div>
<app-footer></app-footer>